.hero-section {
  position: relative;
  padding-bottom: 140px;
  overflow: hidden;
  max-height: 100vh;
}

.hero-section::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    -33.26deg,
    rgba(11, 29, 38, 0%) 0%,
    rgba(11, 29, 38, 0.6) 100%
  );
  z-index: 1;
}

.hero-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 550px;
  z-index: 5;
  background-image: linear-gradient(
    180deg,
    rgba(11, 29, 38, 0),
    #0b1d26,
    #0b1d26
  );
}

.hero-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.hero-image-wrapper img {
  width: 100%;
  height: auto;
}

.hero-image-wrapper img.sky {
  margin-top: 0%;
  position: relative;
  transform: translateY(-50%);
  height: 100vh;
  object-fit: cover;
}

.hero-image-wrapper img.mountains {
  margin-top: -170%;
  z-index: 1;
  height: 100vh;
  object-fit: cover;
}

.hero-image-wrapper img.man-standing {
  margin-top: -150%;
  z-index: 4;
  height: 330px;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  z-index: 6;
  height: auto;
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 24px;
}

.hero-subtitle {
  font-size: 12px;
  color: #fbd784;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-bottom: 32px;
  text-transform: uppercase;
  letter-spacing: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}

.hero-subtitle::before {
  content: "";
  height: 2px;
  width: 40px;
  background-color: #fbd784;
  display: inline-block;
}

.hero-title {
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 32px;
}

.hero-title span {
  display: inline-block;
}

.hero-action {
  font-size: 18px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  color: #fff;
}

.hero-action svg {
  animation: scroll-down-arrow 2.5s infinite;
}

@keyframes scroll-down-arrow {
  0%,
  20%,
  55%,
  80%,
  100% {
    transform: translate3d(-50%, 0, 0);
  }

  40% {
    transform: translate3d(-50%, -15px, 0);
  }

  70% {
    transform: translate3d(-50%, -10px, 0);
  }

  90% {
    transform: translate3d(-50%, -5px, 0);
  }
}
